html {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: lightgrey;
    margin: 0;
}

.main-container {
    display: flex;
    width: 90%;
    height: 500px;
    margin: 10px 5% 10px 5%;
}

.container-left {
    background-color: white;
    border: 1px solid black;
    margin: 0 1% 10px 1%;
    width: 30%;
    height: 490px;
}

.container-right {
    margin: 0 1% 10px 0;
    width: 67%;
    height: 490px;
}

.container-right-top {
    background-color: white;
    border: 1px solid black;
    margin: 0 1% 10px 0;
    width: 99%;
    height: 233px;
}

.container-right-down {
    background-color: white;
    display: block;
    border: 1px solid black;
    margin: 0 1% 0 0;
    width: 99%;
    height: 245px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: blue;
}