/* TAGS */

html {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

body {
    background-color: #f1f1f1;
    margin: 0;
}

footer {
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    text-align: center;
}

h2 {
    display: inline-block;
    margin: 240px 0 0 10px;
    font-size: 30px;
    font-weight: 400;
}

h3 {
    display: inline-block;
    margin: 240px 0 0 10px;
    font-size: 30px;
    font-weight: 400;
}

p {
    display: block;
    color: #757575;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 15px;
    margin-inline-end: 0px;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}


/* CLASS */

.main-container {
    display: flex;
    width: 74%;
    margin: 10px 13% 10px 13%;
}

.container-left {
    background-color: white;
    border: 1px solid black;
    margin: 0 1% 10px 1%;
    width: 30%;
    height: auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-right {
    margin: 0 1% 10px 0;
    width: 67%;
    height: 1029px;
}

.container-right-top {
    background-color: white;
    border: 1px solid black;
    margin: 0 1% 10px 0;
    width: 99%;
    height: auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-right-down {
    background-color: white;
    display: block;
    border: 1px solid black;
    margin: 0 1% 0 0;
    width: 99%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-menu {
    background-image: url(img/polar.jpg);
    width: 100%;
    height: 300px;
}

i {
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
}

.img-icon {
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
}

.img-icon-high {
    width: 28px;
    height: 28px;
    margin: 0 5px 0 0;
}

.text-high {
    color: #757575;
    font-size: 28px;
}

.icon-large {
    color: #33bdef;
    font-size: 28px;
}

.p-medium {
    font-size: 18px;
}

.text-explain {
    font-size: 15px;
    color: black;
}

.box-work {
    display: inline-block;
    color: #ffffff;
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
}


/* Button make in https://www.bestcssbuttongenerator.com */

.myButton {
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    background-color: #33bdef;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
}

.myButton:hover {
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    background-color: #019ad2;
}

.myButton:active {
    position: relative;
    top: 1px;
}