/* TAGS */

footer {
    height: 50px;
}

svg {
    margin-right: 15px;
    color: #33bdef
}

/* Class */
.left-panel .right-panel {
    word-wrap: break-word;
}

.title-main {
    font-size: 30px;
    color: #757575!important;
}

.shadow {
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.16), 0 5px 30px 0 rgba(0,0,0,0.12);
}



/* Image Profile */
.img-profile {
    display: inline-block;
    position: relative;
}

.img-profile .text-img {
    position: absolute;
    top: 190px;
    right: 230px;
    font-size: 25px;
    color: black;
}

 /* Button make in https://www.bestcssbuttongenerator.com */

.myButton {
    background: #33bdef linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #5b6178;
}

.myButton:hover {
    background: #019ad2 linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
}

.myButton:active {
    position: relative;
    top: 1px;
}